@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Lexend+Deca:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&display=swap');

body {
    min-height: 375px;
    font-size: 15px;
    font-weight: 400;
    background-color: hsl(233, 47%, 7%);
    text-align: center;
    box-sizing: border-box;
}

span {
    color: hsl(277, 64%, 61%);
    text-shadow: 0 0 1px hsl(277, 64%, 61%);
}

.container {
    /* min-width: 375px; */
    width: 70%;
    background-color: hsl(244, 38%, 16%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
}

.content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 60%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.2rem;
    text-shadow: 0 0 1px hsl(0, 0%, 100%);
    margin: 1.5em 1.75em .25em;
}

.discribe {
    width: 70%;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-size: .7rem;
    font-weight: 500;
    line-height: 1.75em;
    text-shadow: 0 0 1px hsla(0, 0%, 100%, 0.75);
    margin: 1em 0 .5em;
}

.value-figures {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    text-shadow: 0 0 1px hsl(0, 0%, 100%);
}

.name-figures {
    font-family: 'Inter', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-size: .7em;
    margin: -1em auto 2em;
    text-shadow: 0 0 1px hsla(0, 0%, 100%, 0.6);
}

.img-container {
    position: relative;
    width: 100%;
    height: 12em;
    background-image: url('./images/image-header-mobile..jpg');
    /* background-position: center; */
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /* object-fit: cover; */
}
.img-container::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: hsl(277, 98%, 68%);
    opacity: 0.6;

}
@media (min-width: 1440px) {
    .container {
        height: 60%;
        text-align: start;
        flex-direction: unset;
        justify-content: space-between;
    }

    .content-container {
        width: 50%;
        order: 1;
    }

    .img-container {
        margin: unset;
        width: 50%;
        height: 100%;
        background-image: url('./images/image-header-desktop.jpg');
        border-top-left-radius: unset;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }

    .img-container::after{
        border-top-left-radius: unset;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .title {
        width: 80%;
        font-size: 2.5rem;
        margin: -.5em 0 1em;
    }

    .discribe {
        width: 80%;
        font-size: 1.1rem;
    }

    .figures {
        width: 80%;
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        margin: 2.5em 0 -1.5em;
    }
}